footer {
    padding: 10px 10px 0px 10px;
    background-color: #e0f7fa;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-top: 20px;
}

.jumbotron {
    background-color: #e0f7fa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    background-image: url(https://cdn.hipwallpaper.com/i/17/43/18wC54.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}

.main-content {
    margin-top: 60px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
}

.center-text {
    text-align: center;
}